
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">medecin  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/profilmedecin']"> profil</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/acceptRdv']"> mes Rendez-vous</a>
      </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>merci de renseigner votre informations </h1>
  <form [formGroup]="Formedecin" (ngSubmit)="savemed()" >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nom">nom </label>
          <input [readonly]= "isfind" type="text" class="form-control" id="nom" name="nom" formControlName='nom'  placeholder="nom de patient">
          <div>         
              <small *ngIf="Formedecin.controls['nom'].errors?.required"  class="alert alert-danger">nom is required</small>
          </div>
      </div>
      </div>

      <div class="form-group">
          <label for="prenom">prenom</label>
          <input type="text" [readonly]= "isfind" class="form-control" id="prenom" name="prenom" formControlName='prenom'  placeholder="prenom">
          <div>         
            <small *ngIf="Formedecin.controls['prenom'].errors?.required"  class="alert alert-danger">prenom is required</small>
        </div>
        </div>

      <div class="form-group">
        <label for="cin">cin</label>
        <input type="text" [readonly]= "isfind" class="form-control" id="cin" name="cin" formControlName='cin'  placeholder="cin">
        <div>         
          <small *ngIf="Formedecin.controls['cin'].errors?.required"  class="alert alert-danger">cin is required</small>
      </div>
      </div>
      <div class="form-group">
          <label for="specialite">specialite</label>
          <input type="text" class="form-control" id="specialite" name="specialite" formControlName='specialite'  placeholder="specialite">
          <div>         
            <small *ngIf="Formedecin.controls['specialite'].errors?.required"  class="alert alert-danger">specialite is required</small>
        </div>
        </div>
       <div class="form-group">
          <label for="Experience">Experience</label>
          <input type="text" class="form-control" id="Experience" name="Experience" formControlName='Experience'  placeholder="Experience">
          <div>         
            <small *ngIf="Formedecin.controls['Experience'].errors?.required"  class="alert alert-danger">Experience is required</small>
        </div>
        </div>
  
      <button  *ngIf="!isfind" type="submit" class="btn btn-primary">ajouter </button>
    </form>
    <button  *ngIf="isfind" (click)="update()" class="btn btn-warning">modifier </button>
    <button  *ngIf="isfind"  (click)="delete()" class=" btn btn-danger mx-3">supprimer </button>
  </div>