<div class="container">
  <div class="logo">
    <a href="#"><img
        src="assets/img/cov.png" width="130" height="130" /></a>
        <button  *ngIf="!isLoggedIn" class="btn btn-info my-2 my-sm-0" type="button" class="btn btn_get btn_get_two" (click) = "show()" style="float: right; border:none;">
          <img src="assets/img/login.png" width="50" height="50" />login</button>
        <button *ngIf="!isLoggedIn" class="btn btn-info my-2 my-sm-0" type="button" class="btn btn_get btn_get_two" (click) = "showregister()" style="float: right; border:none;">
          <img src="assets/img/register.png" width="50" height="50" />register</button>
          <button *ngIf="isLoggedIn" class="btn btn-info my-2 my-sm-0" type="button" class="btn btn_get btn_get_two" (click) = "logout()" style="float: right; border:none;">
            <img src="assets/img/logout.jpg" width="50" height="50" /><br>  deconnexion  </button>
            <button *ngIf="isLoggedIn" class="btn btn-info my-2 my-sm-0" type="button" class="btn btn_get btn_get_two" (click) = "showmodif()" style="float: right; border:none;">
              <img src="assets/img/edituser.png" width="50" height="50" /> <br>  modifier compte   </button>

  </div>

</div> 
<div class="container">

<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Login</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>
    
    </div>
  </div>
</div>
</div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModalregister ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">register</h4>
      </div>
      <div class="modal-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmitregister()">
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <label>Vous etes : </label>
                <div class="form-check">
                  <input type="radio" style="float: right;" formControlName="role" name="role" class="form-check-input" value="patient"> patient
                </div>
                <div class="form-check">
                  <input type="radio" style="float: right;" formControlName="role" name="role" class="form-check-input" value="medecin"> medecin

                </div>
            <button type="submit" class="btn btn-primary" style="float: right;"> Submit</button>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hideregister()">Close</button>
      
      </div>
    </div>
  </div>
  </div>

  <div [style.display]="showmodifcpt ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">register</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="modifForm" (ngSubmit)="modifiercpt()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && modif.email.errors }" />
                    <div *ngIf="submitted && modif.email.errors" class="invalid-feedback">
                        <div *ngIf="modif.email.errors.required">Email is required</div>
                        <div *ngIf="modif.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && modif.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="modif.password.errors?.required">Password is required</div>
                        <div *ngIf="modif.password.errors?.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
          
              <button type="submit" class="btn btn-primary" style="float: right;"> enregistrer </button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hidemodif()">Close</button>
        
        </div>
      </div>
    </div>
    </div>
</div>
<section class="home">

<div class="main">
	<span><h2>Bienvenue</h2></span>
	<span><h2>AU</h2></span>
  <span><h2>C</h2></span>
	<span class="letter"></span>
	<span><h2>VID</h2></span>
	<span><h2>AT</h2></span>
  <span><h2 [style.color]="'red'">Home</h2></span>

</div>
</section>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>